/*
* **************************************
!        HEADER & NAVIGATION
* **************************************
*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.header img {
  height: 2.2rem;
}

.header-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}

.header-link:link,
.header-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}

.header-link:hover,
.header-link:active {
  color: #cf711f;
}

.header-link.nav-cta:link,
.header-link.nav-cta:visited {
  color: #fff;
  background-color: #e67e22;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.header-link.nav-cta:hover,
.header-link.nav-cta:active {
  background-color: #cf711f;
}

/*
* ***************************
!         HERO PART
* ***************************
*/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.hero-img {
  width: 100%;
}

.hero-text {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

/*
* *****************************
!          DELIVERED
* *****************************
*/

.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 1.6rem;
}

.customer-img {
  display: flex;
}

.customer-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
  margin-right: -1.6rem;
}

.customer-img img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/*
* ***************************
!         Z PATTERN
* ***************************
*/

.section-steps {
  padding: 9.6rem 0;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container-img::before,
.container-img::after {
  content: "";
  position: absolute;
  position: absolute;
  /* z-index: -1; */
}

.container-img::before {
  content: "";
  background-color: #fdf2e9;
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  z-index: -2;
}

.container-img::after {
  content: "";
  background-color: #fae5d3;
  width: 45%;
  padding-bottom: 45%;
  border-radius: 50%;
  z-index: -1;
}

.step-img {
  width: 35%;
  position: absolute;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 500;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*
* ***************************
!           LOGO
* ***************************
*/

.featured-heading {
  color: #999;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
}

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-images {
  display: flex;
  justify-content: space-around;
}

.featured-images img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
  transition: 0.3s;
}

.featured-images img:hover {
  opacity: 100%;
  filter: brightness(1);
}

/*
* ***************************
!         MEAl CARDS
* ***************************
*/

.section-meals {
  padding: 9.6rem 0;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.icon-meal {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.tag-container {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}

.tag--1 {
  background-color: #50f26b;
}

.tag--2 {
  background-color: #94d82d;
}

.tag--3 {
  background-color: #ffd43b;
}

.meal-title {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-description {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.meal-description li {
  font-size: 1.8rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.icon-list {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.all-recipes {
  text-align: center;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
